<div class="container">
  <img src="{{url}}">
    <p>{{greeting()}}</p>
    <h2>{{title}}</h2> <!--Interpolation-->
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Password">
  </div>

  <div class="mb-3">
    <button type="button" class="btn btn-primary">Login</button>&nbsp;
    <button type="button" class="btn btn-secondary">Clear</button>

    
  </div>
</div>  
